@{
    ViewData["Title"] = "Página Inicial";
}

<h2>Página Inicial</h2>

<ul>
    <li><a asp-controller="Medicamentos" asp-action="Index">Lista de Medicamentos</a></li>
    <li><a asp-controller="ReacoesAdversas" asp-action="Index">Lista de Reações Adversas</a></li>
</ul>
